<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gauravpunn.twitterclone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/twitter"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/twitter_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SplashActivity"
            android:theme="@style/TwitterClone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/TwitterClone">

        </activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/TwitterClone">

        </activity>
        <activity android:name=".RegisterActivity"
            android:theme="@style/TwitterClone">

        </activity>
        <activity android:name=".HomeActivity"
            android:theme="@style/TwitterClone">

        </activity>
        <activity android:name=".ForgotActivity"
            android:theme="@style/TwitterClone">

        </activity>

    </application>

</manifest>